# Módulos e bibliotecas

## Exemplos de criação de gráfico com pandas

### Exemplo 1

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt


print("Criando dataframe de putas...")
objeto_exemplo = [{"nome": "thais", "puta": 1}, {"nome": "lis", "puta": 0}]
df = pd.DataFrame(objeto_exemplo)

fig, ax = plt.subplots()
ax.bar(df.nome, df.puta)
ax.set_title("Putawards 2019\n\n")
ax.annotate("Thais venceu!", xy=(0, 1), xytext=(0, 1.1), arrowprops=dict(facecolor='black', shrink=0.05))
plt.savefig("putas.png")

### Exemplo 2

In [ ]:
import matplotlib.pyplot as plt

print("Criando grafico qualquer...")

meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho']
valores = [105235, 107697, 110256, 109236, 108859, 109986]

plt.plot(meses, valores)
plt.show()

## Path: especificando caminhos de arquivos de forma corretinha

In [1]:
from pathlib import Path

caminho_path = Path(r"C:\Users\thso\OneDrive\Documentos\data_science\periodo1\linguagem_de_programacao\putas.png")
caminho_str = r"C:\Users\thso\OneDrive\Documentos\data_science\periodo1\linguagem_de_programacao\putas.png"

In [2]:
caminho_str.split("\\")[-1].split(".")[0]

'putas'

In [3]:
caminho_path.name

'putas.png'

In [4]:
caminho_path.stem

'putas'

## Importando coisas do src

In [5]:
from src import dataframes
from pathlib import Path

In [10]:
meu_csv = Path(r"C:\Users\thso\OneDrive\Documentos\data_science\periodo1\linguagem_de_programacao\arquivos_de_exemplo_para_uso_no_matplotlib\monitoramento_tempo.csv")

In [7]:
dataframes.ler_csv(meu_csv)

,temperatura,pressão,humidade,direção do vento,velocidade do vento,dia_da_semana,data
0,282.080000,1024.0,81.0,0.0,0.0,Domingo,2012-10-01 12:00:00
1,282.080000,1024.0,81.0,0.0,0.0,Domingo,2012-10-01 13:00:00
2,282.083252,1024.0,80.0,4.0,0.0,Domingo,2012-10-01 14:00:00
3,282.091866,1024.0,80.0,18.0,0.0,Domingo,2012-10-01 15:00:00
4,282.100481,1024.0,80.0,31.0,0.0,Domingo,2012-10-01 16:00:00
...,...,...,...,...,...,...,...
45248,282.000000,1031.0,81.0,50.0,2.0,Terça,2017-11-29 20:00:00
45249,282.890000,1030.0,71.0,330.0,1.0,Terça,2017-11-29 21:00:00
45250,283.390000,1030.0,71.0,290.0,1.0,Terça,2017-11-29 22:00:00
45251,283.020000,1029.0,71.0,290.0,2.0,Terça,2017-11-29 23:00:00
45252,282.280000,1029.0,76.0,340.0,1.0,Quarta,2017-11-30 00:00:00