In [1]:
import pandas as pd

# Series e index

# Criando series com index personalizado

In [16]:
data1 = [1, 2, 3, 4, 5]

series1 = pd.Series(data1)

print(series1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [17]:
index1 = ['Linha ' + str(i) for i in range(5)]

index1

['Linha 0', 'Linha 1', 'Linha 2', 'Linha 3', 'Linha 4']

In [18]:
series1 = pd.Series(data=data1, index=index1)

series1

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

In [20]:
data2 = {'Linha #' + str(i): i + 1 for i in range(5)}

data2

{'Linha #0': 1, 'Linha #1': 2, 'Linha #2': 3, 'Linha #3': 4, 'Linha #4': 5}

In [21]:
series2 = pd.Series(data2)

series2

Linha #0    1
Linha #1    2
Linha #2    3
Linha #3    4
Linha #4    5
dtype: int64

# Concatenando series

In [14]:
series3 = series2 + 10

series3

Linha #0    11
Linha #1    12
Linha #2    13
Linha #3    14
Linha #4    15
dtype: int64

In [15]:
series4 = series3 + series2

series4

Linha #0    12
Linha #1    14
Linha #2    16
Linha #3    18
Linha #4    20
dtype: int64

# Criando dataframes

In [23]:
alunos = [
    ['João', 20, 'M'],
    ['Maria', 30, 'F'],
    ['José', 40, 'M']
]

index_alunos = ['Aluno #' + str(i) for i in range(3)]

colunas_alunos = ['Nome', 'Idade', 'Sexo']

dataframe_alunos = pd.DataFrame(data=alunos, index=index_alunos, columns=colunas_alunos)

dataframe_alunos

           Nome  Idade Sexo
Aluno #0   João     20    M
Aluno #1  Maria     30    F
Aluno #2   José     40    M

In [30]:
pets = {'Nome': {'Pet 1':'Bob', 'Pet 2': 'Fred', 'Pet 3': 'Mel'},
    'Tipo': {'Pet 1':'Cachorro', 'Pet 2':'Gato', 'Pet 3': 'Cachorro'},
    'Idade': {'Pet 1': 2, 'Pet 2': 3, 'Pet 3': 5}}

df_pets = pd.DataFrame(data=pets)

df_pets

       Nome      Tipo  Idade
Pet 1   Bob  Cachorro      2
Pet 2  Fred      Gato      3
Pet 3   Mel  Cachorro      5

# Concatenando df

In [41]:
# Criando os dataframes 

dataframe1 = [(1, 2, 3), 
        (4, 5, 6), 
        (7, 8, 9)]

dataframe2 = [(1, 2, 3), 
        (4, 5, 6), 
        (7, 8, 9)]

dataframe3 = [(1, 2, 3), 
        (4, 5, 6), 
        (7, 8, 9)]

colunas_dataframe = ['Coluna 1', 'Coluna 2', 'Coluna 3']

index_dataframe = ['Linha 1', 'Linha 2', 'Linha 3']

df1 = pd.DataFrame(data=dataframe1, index=index_dataframe, columns=colunas_dataframe)
df2 = pd.DataFrame(data=dataframe2, index=index_dataframe, columns=colunas_dataframe)
df3 = pd.DataFrame(data=dataframe3, index=index_dataframe, columns=colunas_dataframe)

In [42]:
# Alterando os dataframes 

df1[df1 > 0] = 'A'
df1

# Aqui, alteramos os valores dos dataframes para letras, para que possamos diferenciá-los

        Coluna 1 Coluna 2 Coluna 3
Linha 1        A        A        A
Linha 2        A        A        A
Linha 3        A        A        A

In [43]:
df2[df2 > 0] = 'B'
df2

        Coluna 1 Coluna 2 Coluna 3
Linha 1        B        B        B
Linha 2        B        B        B
Linha 3        B        B        B

In [44]:
df3[df3 > 0] = 'C'
df3

        Coluna 1 Coluna 2 Coluna 3
Linha 1        C        C        C
Linha 2        C        C        C
Linha 3        C        C        C

In [45]:
# Concatenando por COLUNAS

pd.concat([df1, df2, df3])

        Coluna 1 Coluna 2 Coluna 3
Linha 1        A        A        A
Linha 2        A        A        A
Linha 3        A        A        A
Linha 1        B        B        B
Linha 2        B        B        B
Linha 3        B        B        B
Linha 1        C        C        C
Linha 2        C        C        C
Linha 3        C        C        C

In [46]:
# concatenando por LINHAS

pd.concat([df1, df2, df3], axis=1)

,Coluna 1,Coluna 2,Coluna 3,Coluna 1,Coluna 2,Coluna 3,Coluna 1,Coluna 2,Coluna 3
Linha 1,A,A,A,B,B,B,C,C,C
Linha 2,A,A,A,B,B,B,C,C,C
Linha 3,A,A,A,B,B,B,C,C,C