# Essenciais

In [1]:
import pandas as pd
from pathlib import Path

In [2]:
path_arquivo = Path(r'C:\Users\thso\OneDrive\Documentos\data_science\periodo1\linguagem_de_programacao\CE_pandas\aluguel.csv')

dados = pd.read_csv(path_arquivo, sep = ';')

# Conhecendo a biblioteca pandas e funções mais simples

In [5]:
# Exibindo as 5 primeiras linhas:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [19]:
# Exibindo quantidade de linhas e colunas:
dados.shape

(32960, 9)

In [20]:
print(f'A base de dados apresenta {dados.shape[0]} registros (imóveis) e {dados.shape[1]} variáveis.')

A base de dados apresenta 32960 registros (imóveis) e 9 variáveis.

In [14]:
# Exibindo os tipos de dados:

dados.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [18]:
# Transformando os tipos de dados em um dataframe:

tipos_de_dados = pd.DataFrame(dados.dtypes, columns=['Tipos de dados'])
# Aqui, o comando pd.DataFrame() cria um dataframe com o dados.types citado acima. 
# O comando columns=['Tipos de dados'] cria uma coluna chamada 'Tipos de dados' no dataframe criado. Este comando é opcional.

tipos_de_dados

           Tipos de dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [12]:
tipos_de_dados.columns.name = 'Variáveis'

tipos_de_dados

Variáveis  Tipos de dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [5]:
dados.tail(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
32950,Apartamento,Tijuca,1,0,0,28,1000.0,360.0,25.0
32951,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,NaN
32952,Casa de Condomínio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0
32953,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
32954,Box/Garagem,Centro,0,0,0,755,14000.0,NaN,NaN
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

# Removendo valores repetidos e redefinindo o index

In [28]:
tipos_de_imoveis = dados['Tipo']

tipos_de_imoveis.drop_duplicates(inplace=True)

In [29]:
tipos_de_imoveis

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

Perceba que os dados tem um número antes deles que é em relação a qual linha eles foram encontrados. Pra redefinir esse index e colocar em ordem, basta fazer igual abaixo

In [30]:
tipos_de_imoveis.index #Vamos visualizar o index antes de transformar eles

Index([    0,     1,     2,     3,     7,    16,    17,    29,    80,    83,
         117,   159,   207,   347,   589,  2157,  3354,  4379,  4721,  6983,
        9687, 23614],
      dtype='int64')

In [31]:
tipos_de_imoveis.shape[0] # Aqui, o comando shape[0] retorna a quantidade de linhas do dataframe.

22

In [32]:
tipos_de_imoveis.index = range(tipos_de_imoveis.shape[0]) 
# E por isso, aqui, o comando range() cria uma lista com a quantidade de linhas do dataframe.

In [33]:
tipos_de_imoveis

0                       Quitinete
1                            Casa
2         Conjunto Comercial/Sala
3                     Apartamento
4              Casa de Condomínio
5                  Prédio Inteiro
6                            Flat
7                      Loja/Salão
8         Galpão/Depósito/Armazém
9                  Casa Comercial
10                   Casa de Vila
11                 Terreno Padrão
12                    Box/Garagem
13                           Loft
14    Loja Shopping/ Ct Comercial
15                        Chácara
16          Loteamento/Condomínio
17                          Sítio
18                  Pousada/Chalé
19                         Studio
20                          Hotel
21                      Indústria
Name: Tipo, dtype: object